# 1271. 엄청난 부자2

In [1]:
A, B = map(int, input().split())
print(A//B)
print(A%B)

1000 100
10
0

# 9498. 시험 성적

In [5]:
grade = int(input())

if (90 <= grade <= 100):
    print('A')
elif (80 <= grade <= 89):
    print('B')
elif (70 <= grade <= 79):
    print('C')
elif (60 <= grade <= 69):
    print('D')
else:
    print('F')

50
F

# 11654. 아스키 코드

In [7]:
A = input()

print(ord(A))

9
57

# 2338. 긴자리 계산

In [17]:
A = int(input())
B = int(input())

print(A+B)
print(A-B)
print(A*B)

1
-1
0
2
-1

# 2743. 단어 길이 재기

In [21]:
A = input()

print(len(A))

pulljima
8

In [3]:
### 2022년 8월 21일 5문제 완료

# 3003. 킹, 퀸, 룩, 비숍, 나이트, 폰

In [2]:
A, B, C, D, E, F = map(int, input().split())

A = 1 - A
B = 1 - B
C = 2 - C
D = 2 - D
E = 2 - E
F = 8 - F

print(A, B, C, D, E, F)

2 1 2 1 2 1
-1 0 0 1 0 7

In [5]:
### 2022년 8월 21일 5문제 완료

# 4999. 아!

In [2]:
JH = input()
D = input()

if len(JH) < len(D):
    print("no")
else:
    print("go")

aaah
ah
go

# 15727. 조별과제를 하려는데 조장이 사라졌다

In [4]:
L = int(input())
t = 0

t = L // 5
if (L % 5) != 0:
    t +=1

print(t)

12
3

In [5]:
### 2022년 8월 26일 8문제 완료

# 25314. 코딩은 체육과목 입니다.

In [1]:
N = int(input())
N //= 4
print("long " * N,"int", sep='')

20
long long long long long int

# 14645. 와이버스 부릉부릉

In [2]:
A, B = map(int, input().split())
for i in range(A):
    C, D = map(int, input().split())
print("비와이")

3 2
10 3
21 8
0 15
비와이

# 2475. 검증수

In [3]:
A, B, C, D, E = map(int, input().split())
A *= A
B *= B
C *= C
D *= D
E *= E
result = ( A + B + C + D + E ) % 10
print(result)

0 2 4 5 6
1

In [1]:
### 2022년 8월 26일 11문제 완료

# 9654. 나부 함대 데이터

In [6]:
print("SHIP NAME      CLASS          DEPLOYMENT IN SERVICE")
print("N2 Bomber      Heavy Fighter  Limited    21        ")
print("J-Type 327     Light Combat   Unlimited  1         ")
print("NX Cruiser     Medium Fighter Limited    18        ")
print("N1 Starfighter Medium Fighter Unlimited  25        ")
print("Royal Cruiser  Light Combat   Limited    4         ")

SHIP NAME      CLASS          DEPLOYMENT IN SERVICE
N2 Bomber      Heavy Fighter  Limited    21
J-Type 327     Light Combat   Unlimited  1
NX Cruiser     Medium Fighter Limited    18
N1 Starfighter Medium Fighter Unlimited  25
Royal Cruiser  Light Combat   Limited    4

In [ ]:
### 2022년 8월 31일 12문제 완료

# 11942. 고려대는 사랑입니다

In [7]:
print("고려대학교")

고려대학교

# 5338. 마이크로소프트 로고

In [10]:
print("       _.-;;-._")
print("'-..-'|   ||   |")
print("'-..-'|_.-;;-._|")
print("'-..-'|   ||   |")
print("'-..-'|_.-''-._|")

       _.-;;-._
'-..-'|   ||   |
'-..-'|_.-;;-._|
'-..-'|   ||   |
'-..-'|_.-''-._|

In [6]:
### 2022년 8월 31일 14문제 완료

# 2558. A + B - 2

In [8]:
A = int(input())
B = int(input())
print(A + B)

1
2
3

# 25083. 새싹

In [9]:
print("         ,r\'\"7")
print("r`-_   ,\'  ,/")
print(" \. \". L_r\'")
print("   `~\/")
print("      |")
print("      |")

         ,r'"7
r`-_   ,'  ,/
 \. ". L_r'
   `~\/
      |
      |

# 25304. 영수증

In [13]:
X = int(input())
N = int(input())
c = 0

for i in range(N):
    a, b = map(int, input().split())
    c += (a * b)

if (X == c):
    print("Yes")
else:
    print("No")

250000
4
20000 5
30000 2
10000 6
5000 8
No

# 7287. 등록

In [14]:
print("54")
print("qhrud1022")

54
qhrud1022

In [16]:
### 2022년 8월 31일 18문제 완료

# 11382. 꼬마 정민

In [1]:
A, B, C = map(int, input().split())
print(A + B + C)

77 77 7777
7931

In [1]:
### 2022년 9월 4일 19문제 완료

# 10951. A + B - 4

In [7]:
while True:
    try :
        A, B = map(int, input().split())
        print(A + B)
    except :
        break

1 1
2
2 3
5
3 4
7
9 8
17
5 2
7

In [8]:
### 2022년 9월 4일 20문제 완료

# 2754. 학점계산

In [12]:
grade = input()
if grade == "A+":
    print(4.3)
elif grade == "A0":
    print(4.0)
elif grade == "A-":
    print(3.7)
if grade == "B+":
    print(3.3)
elif grade == "B0":
    print(3.0)
elif grade == "B-":
    print(2.7)
if grade == "C+":
    print(2.3)
elif grade == "C0":
    print(2.0)
elif grade == "C-":
    print(1.7)
if grade == "D+":
    print(1.3)
elif grade == "D0":
    print(1.0)
elif grade == "D-":
    print(0.7)
elif grade == "F":
    print(0.0)

D+
1.3

# 4101. 크냐?

In [14]:
while True :
    A, B = map(int, input().split())
    if A == 0 & B == 0:
        break
        
    if A > B:
        print("Yes")
    else:
        print("No")

1 19
No
4 4
No
23 14
Yes
0 0

# 4120. 사파리월드

In [15]:
N, M = map(int, input().split())

print(abs(N-M))

-2 5
7

# 5337. 웰컴

In [16]:
print('.  .   .')
print('|  | _ | _. _ ._ _  _')
print('|/\|(/.|(_.(_)[ | )(/.')

.  .   .
|  | _ | _. _ ._ _  _
|/\|(/.|(_.(_)[ | )(/.

# 5339. 콜센터

In [20]:
print("     /~\\")
print("    ( oo|")
print("    _\\=/_")
print("   /  _  \\")
print("  //|/.\\|\\\\")
print(" ||  \\ /  ||")
print("============")
print("|          |")
print("|          |")
print("|          |")

     /~\
    ( oo|
    _\=/_
   /  _  \
  //|/.\|\\
 ||  \ /  ||
============
|          |
|          |
|          |

# 10872. 팩토리얼

In [25]:
N = int(input())
result = 1

for i in range(N):
     result *= (i + 1)
    
print(result)

10
3628800

In [26]:
### 2022년 9월 5일 26문제 완료

# 5522. 카드 게임

In [1]:
result = 0
for i in range(5):
    A = int(input())
    result += A
print(result)

1
2
3
4
5
15

# 9653. 스타워즈 로고

In [3]:
print("    8888888888  888    88888")
print("   88     88   88 88   88  88")
print("    8888  88  88   88  88888")
print("       88 88 888888888 88   88")
print("88888888  88 88     88 88    888888")
print("")
print("88  88  88   888    88888    888888")
print("88  88  88  88 88   88  88  88")
print("88 8888 88 88   88  88888    8888")
print(" 888  888 888888888 88  88      88")
print("  88  88  88     88 88   88888888")

    8888888888  888    88888
   88     88   88 88   88  88
    8888  88  88   88  88888
       88 88 888888888 88   88
88888888  88 88     88 88    888888

88  88  88   888    88888    888888
88  88  88  88 88   88  88  88
88 8888 88 88   88  88888    8888
 888  888 888888888 88  88      88
  88  88  88     88 88   88888888

# 10757. 큰 수 A+B

In [5]:
A, B = map(int, input().split())
print(A + B)

9223372036854775807 9223372036854775808
18446744073709551615

# 10699. 오늘 날짜

In [10]:
import datetime
date = datetime.datetime.now()
print(date.strftime("%Y-%m-%d"))

2022-09-05

In [11]:
### 2022년 9월 5일 30문제 완료

# 16394. 홍익대학교

In [13]:
N = int(input())
print(N - 1946)

2018
72

# 15740. A + B - 9

In [14]:
A, B = map(int, input().split())
print(A + B)

-60 40
-20

In [15]:
### 2022년 9월 5일 32문제 완료

# 10807. 개수 세기

In [19]:
N = int(input())
L = list(map(int, input().split()))
v = int(input())
count = 0
for i in L:
    if i == v:
        count += 1

print(count)

11
1 4 1 2 4 2 4 2 3 4 4
2
3

# 16430. 톰과 제리

In [22]:
A, B = map(int, input().split())
print(B - A, B)

5 8
3 8

# 16170. 오늘의 날짜는?

In [24]:
import datetime
date = datetime.datetime.now()
print(date.strftime("%Y"))
print(date.strftime("%m"))
print(date.strftime("%d"))

2022
09
06

# 20492. 세금

In [30]:
N = int(input())
print(int(N*0.78), int(N*0.8 + N*0.2*0.78))

10000000
7800000 9560000

# 10170. NFC West vs North

In [32]:
print('NFC West       W   L  T')
print('-----------------------')
print('Seattle        13  3  0')
print('San Francisco  12  4  0')
print('Arizona        10  6  0')
print('St. Louis      7   9  0')
print('')
print('NFC North      W   L  T')
print('-----------------------')
print('Green Bay      8   7  1')
print('Chicago        8   8  0')
print('Detroit        7   9  0')
print('Minnesota      5  10  1')

NFC West       W   L  T
-----------------------
Seattle        13  3  0
San Francisco  12  4  0
Arizona        10  6  0
St. Louis      7   9  0

NFC North      W   L  T
-----------------------
Green Bay      8   7  1
Chicago        8   8  0
Detroit        7   9  0
Minnesota      5  10  1

# 14928. 큰 수 (BIG)

In [33]:
N = int(input())
print(N % 20000303)

20000303200003032000030320000303200003032000030320000303200003032000030320000303
0

In [34]:
### 2022년 9월 5일 38문제 완료